<div class="container">
    <div class="row">
        <div ng-show="showLogin" class="col-md-4 col-md-offset-4">
            <form role="loginForm">
                <fieldset>
                    <h2 translate>Please Sign In</h2>
                    <div class="spaced form-group">
                        <input type="email" ng-model="loginData.email" id="email" class="form-control" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="loginData.password" id="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="row text-center" ng-show="userBanned" translate>User is not alowed to login</div>
                    <div class="row">
                        <div class="spaced col-xs-6 col-sm-6">
                            <a ng-click="toggle()" class="btn btn-default btn-block" translate>Register</a>
                        </div>
                        <div class="spaced col-xs-6 col-sm-6">
                            <a ng-click="signin()" ng-disabled="!loginData.email || !loginData.password" class="btn btn-success btn-block" translate>Sign In</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div ng-show="!showLogin" class="col-md-4 col-md-offset-4">
            <form name="registerForm">
                <fieldset>
                    <h2 translate>Sign Up</h2>
                    <div class="spaced form-group">
                        <input type="text" name="name" id="name" ng-model="registerData.name" class="form-control" placeholder="Display Name" tabindex="3" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" ng-model="registerData.email" class="form-control" placeholder="Email Address" tabindex="4" required>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" id="password" ng-model="registerData.password" class="form-control" placeholder="Password" tabindex="5" required>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password2" id="password2" ng-model="registerData.password2" class="form-control" placeholder="Confirm Password" tabindex="6" required>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" ng-show="registerForm.name.$error.required" translate>No user name given</div>
                    <div class="row text-center" ng-show="registerForm.email.$error.email">Enter the valid email address</div>
                    <div class="row text-center" ng-show="!passwordMatch()" translate>Passwords does not match</div>
                    <div class="row">
                        <div class="spaced col-xs-6 col-sm-6">
                            <a ng-click="toggle()" class="btn btn-default btn-block" translate>Sign In</a>
                        </div>
                        <div class="spaced col-xs-6 col-sm-6">
                            <a ng-click="register()" ng-disabled="!registerValid()" class="btn btn-success btn-block" tabindex="7" translate>Register</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>    
